<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Chip by Lumière</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>social.hotmess.LumiereMobile</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lumiere-uploader</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.photography</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Lumière</string>
</dict>
</plist>
